<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyC7LfrZbIUSlBA1E2N8OvOp-J4Z8-Rm04w</string>
	<key>GCM_SENDER_ID</key>
	<string>220338274079</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.greenvision.cleansing</string>
	<key>PROJECT_ID</key>
	<string>green-vision-cleansing-app</string>
	<key>STORAGE_BUCKET</key>
	<string>green-vision-cleansing-app.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:220338274079:ios:8081421c163b96c7f03a2a</string>
</dict>
</plist>